version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: smartcity-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    image: smartcity-app:${APP_VERSION}
    container_name: smartcity-app
    env_file:
      - .env
    ports:
      - "8082:8082"
    volumes:
      - uploads-data:/app/uploads
    depends_on:
      - postgres

volumes:
  postgres-data:
  uploads-data:
